/* Usually it is best to put new edits at the bottom of the file. This way they will overwrite!*/
* { /* Top margin was looking asymmetrical on my page, so took the nuclear option */
    margin: 0px;
    padding: 0px;
    
}
/*#content { padding-top: 0.5em }*/
#header { float: right; margin-left: 1em; margin-bottom: 1em }
#tagsoup {clear: both; padding: 0.75em}
#tagsoup a {padding: 0.5em}
.tags {padding-left: 0.75em; padding-bottom: 0.75em;}
.date { font-style: italic;  clear: both; color: black; padding-left: 0.75em} /* except index */
.article-meta { margin-left: 0; }
.archive-title { font-size: 1em }
html {
    background: #0000ff;
    margin: 0.75em;
    color: black;
}

.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
body {
    font-family: Vollkorn;
    padding-top: 5em;
    font-size: 1em;
}
.relative-nav {padding: 0.75em;}
pre { overflow: auto; margin-left: 1em; padding: 0.5em; border-left: 1px dashed;
      background-color: inherit; padding: .75em .5em; font-family: mono-font }
tt { font-size: .9em; font-family: mono-font}
/* Stolen from lisppaste for the colorize output of 3bmd */
.paste { background-color: #F4F4F4; color: black; }
.paste:hover { background-color: #F4F4F4; color: black; }
.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.atom { color : #314F4F; background-color : inherit; }
.macro { color : #FF5000; background-color : inherit; }
.variable { color : #36648B; background-color : inherit; }
.function { color : #8B4789; background-color : inherit; }
.attribute { color : #FF5000; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }.diff-deleted { color : #5F2121; background-color : inherit; }
.diff-added { color : #215F21; background-color : inherit; }
span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren1:hover { color : inherit; background-color : #BAFFFF; }
span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren2:hover { color : inherit; background-color : #FFCACA; }
span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren3:hover { color : inherit; background-color : #FFFFBA; }
span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren4:hover { color : inherit; background-color : #CACAFF; }
span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren5:hover { color : inherit; background-color : #CAFFCA; }
span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren6:hover { color : inherit; background-color : #FFBAFF; }

@media {
    #content {
        padding-top: 0
    }

    .title {
        margin-left: 0;
        clear: right;
    }

    .article-meta {
        clear: right;
    }

    .article-meta, .article-content, .article-meta-meta{
        /*        margin-left: 10em; */
        margin-right: 0em;
        padding-left: 5%;
    }

    .article, .article-content {
        margin-left: 0;
        text-align: justify;
    }
    .article-content {
        margin-left: auto;
        margin-right: auto;
    }
    img  {
        /*    display: block; */
        margin-left: auto;
        margin-right: auto;
	max-width: 70%;
    }

    #coleslaw-logo {
        float: none;
    }

    #coleslaw-logo img {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

}
.fineprint a img p {
    width: auto;
    clear: both;
    padding: 3em;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a { text-decoration: none; outline: none;}
a.anchor { color: black }
/* .fineprint {
    background: #98fb98;
} */
.navigation {
    font-size: 1.2em;
    width: 100%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*    float: top left; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #98fb98;
    text-align: center;
    border-width: 0 0 0.15em 0;
    border-style: double;
    border-color: black;
}
.navlink, .press {
    border-width: 0.25em;
    border-style: outset;
    width: auto;
    background-color: #98fb98;
    height: auto;
    margin: 0;
    padding: 0.25em;
    margin-left: 0.75em;
    color: black;
    text-align: center;
    display: inline-block;
}
.press {
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
}
.inline {
    display: inline;
}
.navlink img {
    margin: 0;
    display: none;
}
#hacker {
    max-width: 3em;
    height: auto;
    padding-bottom: 0.5em;
}
.innerbg {
    background: #98fb98;
    padding: 0px;
    margin: 0px;
}

/* Continued in other CSS files that come after */
ul, ol {
    float: none;
    clear: right;
    display: table;
    margin: 1em;
    margin-left: 2em;
}

.article-content {
    max-width: 32em;
    padding-left: 2em;
    padding-right: 2em;
}
.title {
    width: auto;
    text-align: center;
    padding-top: 1em;
}
h, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    
}
.button {
    border-width: 0.25em;
    border-style: outset;
    width: 4em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: black;
    text-align: center;
}
.sitemap {
    font-size: 0.9em;
}
.sitemap ul {
    padding-bottom: 2em;
    margin: 0.25em;
    margin-left: 2em;
    list-style-image: url("/static/nested-list-outer.png");
}

.sitemap-inner ol {
    list-style-type: lower-roman;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0;
}
.sitemap-inner ul {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0;
    list-style-image: url("/static/nested-list-inner.png");
}
.outerlist ul {
    padding-top: 1em;
    margin: 0.25em;
    margin-left: 2em;
    list-style-image: url("/static/nested-list-outer.png");
}
.sublist ul {
    margin-top: 0;
    list-style-image: url("/static/nested-list-inner.png");
    padding: 0;
    margin-left: 3em;
}
.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.title {
    text-align: left;
}
.listtitle {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tabbed ul {
    margin-left: 1em;
}
.article-box {
    margin-left: 8em;
}
.article-box .article-image, .article-box .article-title, .article-box .article{
    display: inline-block;
    padding-right: 1em;
    max-width: 35em;
}
.jump {
    padding-top: 90px; margin-top: -90px;
}
.fineprint {
    text-align: center;
    font-size: .9em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    clear: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.footerlink, .footerlink-leftmost, .footerlink-rightmost {
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: inline-block;
}
.article-image img {
    display: inline;
    max-width: 12em;
    height: auto;
}
.article-title {
    height: 2em;
    display: block;
    margin-top: 1em;
}
.article-title h1 {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    vertical-align: middle;
}
.article {
    vertical-align: middle;
    color: black;
    font-size: 1.2em;
}
.right {
    text-align: right;
}
