#content { background: #fff; padding-top: 1em }
#header { float: right; margin-left: 1em; margin-bottom: 1em }
a { text-decoration: none; color: #992900 }
a.anchor { color: black }
.date { font-style: italic }
.title { margin-left: 1em }
.article-meta { margin-left: 2.2em; margin-bottom: 2.2em }
.archive-title { font-size: 1em } .article-title { font-size: 2em }
.article-content { margin-left: 2.2em }
.fineprint { text-align: center; font-size: .9em; margin-top: .5em }
.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
.navigation { font-size: 1.2em; border-bottom: 1px solid }
body { background-color: white; font-family: Vollkorn; font-size: 14pt }
.highlight { background-color: (unquote light-yellow) }
.highlight .symbol, .highlight .default, .highlight .comment { background-color: white; font-weight: normal; color: black }
.highlight i { font-style: normal }
.highlight i .symbol { font-weight: bold; color: (unquote red1) }
.highlight .paren1, .highlight .paren2, .highlight .paren3, .highlight .paren4, .highlight .paren5, .highlight .paren6 { background-color: inherit }
.highlight .paren1:hover, .highlight .paren2:hover, .highlight .paren3:hover, .highlight .paren4:hover, .highlight .paren5:hover, .highlight .paren6:hover { font-weight: bold; color: white }
.highlight .string { font-style: italic; font-weight: light; color: #992900 }
.highlight .paren1:hover { background-color: #DB7859 }
.highlight .paren2:hover { background-color: #1B804C }
.highlight .paren3:hover { background-color: #9F214E }
.highlight .paren4:hover { background-color: #DBA059 }
.highlight .paren5:hover { background-color: #B64926 }
.highlight .paren6:hover { background-color: #64A422 }
.highlight .comment { color: (unquote red2) }
pre { overflow: auto; margin-left: 1em; padding: 0.5em; border-left: 1px dashed; background-color: white; padding: .75em .5em; font-family: (unquote mono-font) }
tt { font-size: .9em; font-family: (unquote mono-font) }
