#content { background: #fff; padding-top: 1em }
#header { float: right; margin-left: 1em; margin-bottom: 1em }
#coleslaw-logo { float: right; }
a { text-decoration: none; color: #992900 }
a.anchor { color: black }
.date { font-style: italic }
.title { margin-left: 1em }
.article-meta { margin-left: 2.2em; margin-bottom: 2.2em }
.archive-title { font-size: 1em } .article-title { font-size: 2em }
.article-content { margin-left: 2.2em }
.fineprint { text-align: center; font-size: .9em; margin-top: .5em }
.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
.navigation { font-size: 1.2em; border-bottom: 1px solid }
body { background-color: white; font-family: Vollkorn; font-size: 14pt }
pre { overflow: auto; margin-left: 1em; padding: 0.5em; border-left: 1px dashed;
      background-color: white; padding: .75em .5em; font-family: (unquote mono-font) }
tt { font-size: .9em; font-family: (unquote mono-font) }

/* Stolen from lisppaste for the colorize output of 3bmd */
.paste { background-color: #F4F4F4; color: black; }
.paste:hover { background-color: #F4F4F4; color: black; }
.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.atom { color : #314F4F; background-color : inherit; }
.macro { color : #FF5000; background-color : inherit; }
.variable { color : #36648B; background-color : inherit; }
.function { color : #8B4789; background-color : inherit; }
.attribute { color : #FF5000; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
.diff-deleted { color : #5F2121; background-color : inherit; }
.diff-added { color : #215F21; background-color : inherit; }
span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren1:hover { color : inherit; background-color : #BAFFFF; }
span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren2:hover { color : inherit; background-color : #FFCACA; }
span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren3:hover { color : inherit; background-color : #FFFFBA; }
span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren4:hover { color : inherit; background-color : #CACAFF; }
span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren5:hover { color : inherit; background-color : #CAFFCA; }
span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; }
span.paren6:hover { color : inherit; background-color : #FFBAFF; }

@media (max-width: 680px) {

    #content {
        padding-top: 0em
    }

    .title {
        margin-left: 0.1em;
    }

    .article-meta {
        margin-bottom: 1em;
    }

    .article-meta, .article-content {
        float: left;
        margin-left: 0em;
        margin-right: 0em;
        width: 90%;
        padding-left: 5%;
    }

    .article, .article-content {
        margin-left: 0em;
        text-align: justify;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #coleslaw-logo {
        float: none;
    }

    #coleslaw-logo img {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

    .fineprint a img {
        width: auto;
        clear: both;
    }
}
