{namespace coleslaw.theme.hyde}
{template base}
<!doctype html>{\n}
<html lang="{$config.lang}">
  <head>
    <title>{$config.title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <meta http-equiv="content-type" content="text/html; charset={$config.charset}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
    <link href= "{$config.domain}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
  <body>
    <div class="navigation">
      {foreach $link in $config.sitenav}
        {if $link.relative}
          <a href="{$config.domain}/{$link.url}">{$link.name}</a>
        {else}
          <a href="{$link.url}">{$link.name}</a>
        {/if}
        {if not isLast($link)} {sp}|{sp} {/if}
      {/foreach}
    </div>
    <div id="content">
      {$raw |noAutoescape}
    </div>
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
    <div class="fineprint">
      <hr>
      Copyright &copy; 2018  
      {if $config.license}
        {$config.license}
      {/if}
      {$config.author}
    </div>
  </body>
</html>
{/template}
