{namespace coleslaw.theme.hyde}
{template index}
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<div class="article-meta-meta">
  <h1 class="title">Posts</h1>
{foreach $obj in $index.content}
<div class="article-meta">
    <a class="article-title" href="{$config.domain}/{$obj.url}">{$obj.title}</a>
    <div class="date"> {if $obj.date}{$obj.date}{/if}</div>
  </div>
{/foreach}
</div>
<div id="relative-nav">
  {if $prev} <a href="{$config.domain}/{$prev.url}">Previous</a> {/if}
  {if $next} <a href="{$config.domain}/{$next.url}">Next</a> {/if}
</div>
{if $tags}
<div id="tagsoup">
  <p>View by type: 
    {foreach $tag in $tags}
      <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
      {if not isLast($tag)},{sp}{/if}
    {/foreach}
</div>
{/if}

{/template}
