{namespace coleslaw.theme.hyde}

{template post}
<div class="article-meta">{\n}
  <h1 class="title">{$post.title}</h1>{\n}
  <div class="tags">{\n}
    {if $post.tags}
      Tagged as {foreach $tag in $post.tags}
        <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
    {/if}
  </div>{\n}
  <div class="date">{\n}
    {if $post.date}
      Written on {$post.date}
    {/if}
  </div>{\n}
</div>{\n}
<div class="article-content">{\n}
  {$post.text |noAutoescape}
</div>{\n}
<div class="relative-nav">{\n}
  {if $prev} <a href="{$config.domain}/{$prev.url}">Previous</a><br> {/if}{\n}
  {if $next} <a href="{$config.domain}/{$next.url}">Next</a><br> {/if}{\n}
</div>{\n}
{/template}
