{namespace coleslaw.theme.hyde}

{template post}
<div class="article-meta">{\n}
  <h1 class="title">{$title}</h1>{\n}
  <div class="tags">{\n}
    Tagged as {foreach $tag in $tags}
                <a href="../{$tag.url |noAutoescape}">{$tag.name}</a>
                    {if not isLast($tag)}, {/if}
              {/foreach}
  </div>{\n}
  <div class="date">{\n}
    Written on {$date}
  </div>{\n}
</div>{\n}
<div class="article-content">{\n}
  {$content |noAutoescape}
</div>{\n}
<div class="relative-nav">{\n}
  {if $prev} <a href="{$prev}">Previous</a><br> {/if}{\n}
  {if $next} <a href="{$next}">Next</a><br> {/if}{\n}
</div>{\n}
{/template}
