{namespace coleslaw.theme.hyde}

{template rss}
<?xml version="1.0"?>{\n}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{$title}</title>
    <link>{$siteroot}</link>
    <atom:link href="{$siteroot}/rss.xml" rel="self" type="application/rss+xml" />
    <language>en-us</language>
    <pubDate>{$pubdate}</pubDate>

    {foreach $post in $posts}
    <item>
      <title>{$post.title}</title>
      <link>{$siteroot}/posts/{$post.url}</link>
      <pubDate>{$post.date}</pubDate>
      <author>{$author}</author>
      <guid isPermaLink="true">{$siteroot}/posts/{$post.url}</guid>
      {foreach $tag in $post.tags}
        <category><![CDATA[ {$tag} ]]></category>
      {/foreach}
      <description><![CDATA[ {$post.content} ]]></description>
    </item>
    {/foreach}

  </channel>
</rss>
{/template}
