{namespace coleslaw.theme.readable}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$config.lang}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={$config.charset}">
    <title>{$config.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{$config.domain}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{$config.domain}/css/custom.css" rel="stylesheet" media="screen">
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="offset2 span8">
          <div class="row-fluid">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <a class="brand" href="{$config.domain}">{$config.title}</a>
                <ul class="nav">
                  {foreach $link in $config.sitenav}
                  <li>
                    {if $link.relative}
                      <a href="{$config.domain}/{$link.url}">{$link.name}</a>
                    {else}
                      <a href="{$link.url}">{$link.name}</a>
                    {/if}
                  </li>
                  {/foreach}
                </ul>
              </div>
            </div>
          </div>  

          <div class="row-fluid">
            {$raw |noAutoescape}
          </div>

          {if $injections.body}
            {foreach $injection in $injections.body}
              <div class="row-fluid">
                {$injection |noAutoescape}
              </div>
            {/foreach}
          {/if}

          <div class="row-fluid">
            <hr>
            <p class="fineprint">Unless otherwise credited all material
            {if $config.license}
              {$config.license}
            {else}
              <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
               <img alt="Creative Commons License" style="border-width:0" src="{$config.domain}/img/cc-by-sa.png" />
              </a>
            {/if}
            by {$config.author}
            <a id="coleslaw-logo" href="https://github.com/redline6561/coleslaw">
              <img src="{$config.domain}/img/logo_small.jpg" alt="Coleslaw logo" /></p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="{$config.domain}/js/bootstrap.min.js"></script>
  </body>
</html>
{/template}
