{namespace coleslaw.theme.readable}

{template post}
<div class="row-fluid">{\n}
  <h1 class="page-header">{$post.title}</h1>{\n}
  <p>
    {if $post.tags}
      Tagged as {foreach $tag in $post.tags}
        <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
    {/if}
  </p>
  <p class="date-posted">
    {if $post.date}
      Written on {$post.date}
    {/if}
  </p>

  {$post.text |noAutoescape}
  
  <ul class="pager">
    {if $prev}<li class="previous"><a href="{$config.domain}/{$prev.url}">&larr; Previous</a></li>{/if}{\n}
    {if $next}<li class="next"><a href="{$config.domain}/{$next.url}">Next &rarr;</a></li>{/if}{\n}
  </ul>
</div>{\n}
{/template}
