{namespace coleslaw.theme.sitemap}

{template sitemap}
<?xml version="1.0"?>{\n}
<urlset xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'>
    {foreach $url in $content.urls}
    <url>
        <loc>{$config.domain}/{$url}</loc>
        <lastmod>{$pubdate}</lastmod>
    </url>
    {/foreach}
</urlset>
{/template}
