{namespace coleslaw.theme.hyde}
{template base}
<!doctype html>{\n}
<html lang="{$config.lang}">
  <head>
    <title>{$config.title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Spenser Truex's website. Programmer, Linguist, Computer Scientist, and student of life.">
    <meta name="keywords" content="Spenser Max Truex equwal lisp common lisp freelance">
    <meta name="author" content="Spenser Truex">
    <meta http-equiv="content-type" content="text/html; charset="{$config.charset}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
<body>
<div class="navigation">
      {foreach $link in $config.sitenav}
        {if $link.relative}
      <div class="navlink"><a href="{$config.domain}/{$link.url}">
      {if $link.image}
      <img src="{$link.image}" />
      <div class="name">{$link.name}</div>
      {else}
      {$link.name}{/if}</a>
      </div>
        {else}
      <div class="navlink"><a href="{$link.url}">
        {if $link.image}
        <img src="{$link.image}" />
        <div class="name">{$link.name}</div>
        {else}
        {$link.name}{/if}</a>
      </div>
        {/if}
      {/foreach}
</div>
    <div class="innerbg">
    <div id="content">
      {$raw |noAutoescape}
    </div>
    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
</div>
    <div class="innerbg">
    <div class="fineprint">
      {if $config.license}
        {$config.license}
      {/if}
      <p>{$config.author}</p> <a href="/call">Contact</a><br /><a href="/glider"><img src='/static/lambda_bottom.png' id="hacker" alt='hacker emblem' /></a>
      <br>
      <div class="footerlink"><<strong>equwal</strong>> on freenode</div>
      <strong>|</strong>
      <div class="footerlink"><a href="https://stackoverflow.com/users/5513492/spenser-truex">Stack Overflow</a></div>
      <strong>|</strong>
      <div class="footerlink"><a href="https://www.qrz.com/db/KM6DUO">KM6DUO</a></div>
    </div>
</div>
    </div>
  </body>
</html>
{/template}
