{namespace coleslaw.theme.hyde}

{template post}
<div class="article-content">{\n}
    <h1 class="title">{$post.title}</h1>{\n}
  {$post.text |noAutoescape}
</div>{\n}
<div class="relative-nav">{\n}
{if not $prev} <div class="right">{/if}
  {if $prev} <a href="{$config.domain}/{$prev.url}">Previous</a>{/if}
  {if $prev and $next} {sp}|{sp}{/if}
  {if $next} <a href="{$config.domain}/{$next.url}">Next</a><br> {/if}
  {if not $prev}</div>{/if}
</div>{\n}
<div class="date">{\n}
    {if $post.date}
      Written {$post.date}
    {/if}
  </div>{\n}
  {\n}
<div class="tags">{\n}
    {if $post.tags}
      in: {foreach $tag in $post.tags}
        <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
    {/if}
  </div>
{/template}
